<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.KHCafeErp.www.dao.face.AddProductDao">
	<!-- 19-12-24 유진 : 상품 옵션 목록  -->
	<select id="selectOption" resultType="com.KHCafeErp.www.dto.ProductOption">
		SELECT productOptionNo, productOptionName, optionValue FROM productOption ORDER BY productOptionNo
	</select>
	<!-- 지점 목록 가져오기 -->
	<select id="selectShopList" resultType="com.KHCafeErp.www.dto.Shop">
		SELECT * FROM shop
	</select>
</mapper>