<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.CsDao">

	<select id="selectCntAll" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM counselBoard, staff, customer, shop
		WHERE counselBoard.staffNo=staff.staffNo AND customer.cusNo=counselBoard.cusNo AND staff.shopNo=shop.shopNo
		<if test="searchType != null">
			<if test="searchType == 'cBoardNo' or searchType == 'cBoardTitle'">
	    		AND counselBoard.${searchType} LIKE '%'||#{searchContent}||'%'
	    	</if>
			<if test="searchType == 'cusId'">
	    		AND customer.${searchType} LIKE '%'||#{searchContent}||'%'
	    	</if>
			<if test="searchType == 'staffName'">
	    		AND staff.${searchType} LIKE '%'||#{searchContent}||'%'
	    	</if>
			<if test="searchType == 'shopName'">
	    		AND shop.${searchType} LIKE '%'||#{searchContent}||'%'
	    	</if>
  		</if>
	</select>
	
	<select id="selectPageList" parameterType="com.KHCafeErp.www.util.Paging" resultType="com.KHCafeErp.www.dto.CounselBoard" >
		  SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					cBoardNo, counselBoard.staffNo, counselBoard.cusNo, cusId,
					cBoardTitle, staffName, cBoardDate, cBoardContent, shopName
				FROM counselBoard, staff, customer, shop
				WHERE counselBoard.staffNo=staff.staffNo AND customer.cusNo=counselBoard.cusNo AND staff.shopNo=shop.shopNo
				<if test="search.searchType != null">
					<if test="search.searchType == 'cBoardNo' or search.searchType == 'cBoardTitle'">
	    				AND counselBoard.${search.searchType} LIKE '%'||#{search.searchContent}||'%'
	    			</if>
	    			<if test="search.searchType == 'cusId'">
	    				AND customer.${search.searchType} LIKE '%'||#{search.searchContent}||'%'
	    			</if>
	    			<if test="search.searchType == 'staffName'">
	    				AND staff.${search.searchType} LIKE '%'||#{search.searchContent}||'%'
	    			</if>
	    			<if test="search.searchType == 'shopName'">
	    				AND shop.${search.searchType} LIKE '%'||#{search.searchContent}||'%'
	    			</if>
  				</if>
				ORDER BY cBoardNo DESC
			) B
			ORDER BY rnum
		 ) counselBoard
		 WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectCsList" parameterType="com.KHCafeErp.www.dto.CounselBoard" resultType="com.KHCafeErp.www.dto.CounselBoard">
		SELECT cBoardNo, counselBoard.staffNo, counselBoard.cusNo, cusId, cBoardTitle, staffName, cBoardDate, cBoardContent
		FROM counselBoard, staff, customer
		WHERE counselBoard.staffNo=staff.staffNo AND customer.cusNo=counselBoard.cusNo
		<if test="cBoardNo != null and cBoardNo != 0">
			AND cBoardNo = #{cBoardNo}
		</if>
		<if test="cBoardTitle != null">
			AND cBoardTitle = #{cBoardTitle}
		</if>
		<if test="cusId != null">
			AND cusId = #{cusId}
		</if>
		<if test="staffName != null">
			AND staffName = #{staffName}
		</if>
	</select>
	
	<select id="selectBoardByBoardNo" parameterType="com.KHCafeErp.www.dto.CounselBoard" resultType="com.KHCafeErp.www.dto.CounselBoard">
		SELECT cBoardNo, counselBoard.cusNo, cusId,counselBoard.staffNo, staffName, cBoardTitle, cBoardDate, cBoardContent 
		FROM counselBoard, staff, customer
  		WHERE counselBoard.staffNo=staff.staffNo AND customer.cusNo=counselBoard.cusNo
  		AND cBoardNo = #{cBoardNo }
	</select>
	
	<select id="selectStaffName" parameterType="int" resultType="String">
		SELECT staffName FROM staff WHERE staffNo=#{staffNo}
	</select>
	
	<select id="selectShopNo" resultType="int" parameterType="int">
		SELECT shopNo FROM staff
		WHERE staffNo = #{staffNo }
	</select>
	
	<select id="selectCusNo" parameterType="String" resultType="com.KHCafeErp.www.dto.CounselBoard">
		SELECT cusNo FROM customer WHERE cusId=#{cusId} 
	</select>
	
	<insert id="insertBoard" parameterType="com.KHCafeErp.www.dto.CounselBoard">
		INSERT INTO counselBoard (cBoardNo, cusNo, staffNo, cBoardTitle, cBoardDate, cBoardContent)
		VALUES (cBoardNo_seq.nextval, #{cusNo}, #{staffNo}, #{cBoardTitle}, #{cBoardDate}, #{cBoardContent})
	</insert>

	<delete id="delete" parameterType="com.KHCafeErp.www.dto.CounselBoard">
		DELETE counselBoard WHERE cBoardNo=#{cBoardNo}
	</delete>
	
	<update id="update" parameterType="com.KHCafeErp.www.dto.CounselBoard">
		UPDATE counselBoard
			SET cBoardContent = #{cBoardContent }, cBoardTitle=#{cBoardTitle}
			WHERE cBoardNo = #{cBoardNo }	
	</update>
</mapper>