<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.JoinStaffDao">

<insert parameterType="com.KHCafeErp.www.dto.Staff" id="insert">
INSERT INTO staff ( staffNo, shopNo, position, nick, pw, staffName, email, cellNum, hiredDate, gender )
VALUES ( #{staffNo }, #{shopNo }, #{position }, #{nick }, #{pw }, #{staffName }, #{email }, #{cellNum }, #{hiredDate }, #{gender } )
</insert>

<select id="nickCheck" resultType="int" parameterType="com.KHCafeErp.www.dto.Staff">
	<![CDATA[
		SELECT count(*) FROM staff
		WHERE nick = #{nick}
	]]>
</select>

<select id="selectIdCntCheck" resultType="int" parameterType="int">
	<![CDATA[
		SELECT count(*) FROM staff
		WHERE staffNo = #{staffNo}
	]]>
</select>



</mapper>