<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.KHCafeErp.www.dao.face.ManageProductDao">
	<select id="selectCategoryAll" resultType="com.KHCafeErp.www.dto.CategoryBase">
		SELECT * FROM categoryBase
	</select>
	<select id="selectCategoryDetail" parameterType="int" resultType="com.KHCafeErp.www.dto.CategoryDetail">
		SELECT categoryMapNo, categoryDetailName, categoryNo
		FROM categoryDetail
		WHERE 1=1
		AND categoryNo = #{categoryNo}
	</select>
	<select id="selectShopAll" resultType="com.KHCafeErp.www.dto.Shop">
		SELECT * FROM shop
	</select>
	<select id="selectProductAll" resultType="com.KHCafeErp.www.dto.Product">
		SELECT 
			productno,
			categorymapno,
			optionno,
			shopno,
			productname,
			productcontent,
			originprice,
			price,
			productorigin,
			enrolldate,
			selstartdate,
			selenddate,
			selstatus,
			(SELECT shopName FROM shop WHERE product.shopNo = shop.shopNo ) AS shopName
		 FROM product
	</select>
	<select id="selectProductByProductNo" parameterType="int" resultType="com.KHCafeErp.www.dto.Product">
		SELECT
		    P.productno, P.categorymapno, P.optionno, P.shopno, productname
		    , productcontent, originprice, price, productorigin, enrolldate
		    , selstartdate, selenddate, selstatus, CB.categoryName, CB.categoryNo
		FROM product P, categoryDetail CD, categoryBase CB
		WHERE 1=1
		    AND P.categoryMapNo = CD.categoryMapNo
		    AND CD.categoryNo = CB.categoryNo
		    AND P.productNo = #{productNo}
	</select>
	<update id="updateSelStartDate" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET selStartDate =#{ selStartDate } WHERE productNo = #{ productNo }
	</update>
	<update id="updateSelEndDate" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET selEndDate =#{ selEndDate } WHERE productNo = #{ productNo }
	</update>
	<update id="updateProduct" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET productName = #{ productName },
				categoryMapNo = #{ categoryMapNo },
				originPrice = #{ originPrice },
				price = #{ price },
				enrollDate = #{ enrollDate },
				selStartDate = #{ selStartDate },
				selEndDate = #{ selEndDate },
				selStatus = #{ selStatus },
				productContent = #{ productContent },
				productOrigin = #{ productOrigin }
		WHERE productNo = #{ productNo }
	</update>
	
</mapper>