<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.KHCafeErp.www.dao.face.ManageProductDao">
	<select id="selectCategoryAll" resultType="com.KHCafeErp.www.dto.CategoryBase">
		SELECT * FROM categoryBase
	</select>
	<select id="selectCategoryDetail" parameterType="int" resultType="com.KHCafeErp.www.dto.CategoryDetail">
		SELECT categoryMapNo, categoryDetailName, categoryNo
		FROM categoryDetail
		WHERE 1=1
		AND categoryNo = #{categoryNo}
	</select>
	<select id="selectShopAll" resultType="com.KHCafeErp.www.dto.Shop">
		SELECT * FROM shop
	</select>
	<select id="selectProductAll" parameterType="com.KHCafeErp.www.dto.Product" resultType="com.KHCafeErp.www.dto.Product">

<!-- 		SELECT  -->
<!-- 			productno, -->
<!-- 			categorymapno, -->
<!-- 			shopno, -->
<!-- 			productname, -->
<!-- 			productcontent, -->
<!-- 			originprice, -->
<!-- 			price, -->
<!-- 			productorigin, -->
<!-- 			enrolldate, -->
<!-- 			selstartdate, -->
<!-- 			selenddate, -->
<!-- 			selstatus, -->
<!-- 			(SELECT shopName FROM shop WHERE product.shopNo = shop.shopNo ) AS shopName -->
<!-- 		 FROM product ORDER BY productNo -->
	
			SELECT p.productNo, p.categoryMapNo, p.shopNo, s.shopName, productName, originPrice, price, productOrigin
				, selStartDate, enrollDate, selEndDate, selStatus, cb.categoryName, cb.categoryNo, cd.categoryDetailName
		FROM product P, categoryDetail CD, categoryBase CB, shop S
		WHERE 1=1
			AND p.categoryMapNo = CD.categoryMapNo
			AND CD.categoryno = cb.categoryNo
			AND p.shopNo = s.shopNo
			<if test="productNo != null and productNo != '' and productNo !=0">
				AND p.productNo = #{ productNo }
			</if>
			<if test="productName != null and productName != ''">
				AND productName LIKE '%'||#{ productName }||'%'
			</if>
			<if test="categoryMapNo != 0">
				AND p.categoryMapNo = #{ categoryMapNo }
			</if>
			<if test="shopNo != 0">
				AND p.shopNo = #{ shopNo }
			</if>
			ORDER BY productNo

	</select>
	<select id="selectProductByProductNo" parameterType="int" resultType="com.KHCafeErp.www.dto.Product">
		SELECT
		    P.productno, P.categorymapno, P.shopno, productname
		    , productcontent, originprice, price, productorigin, enrolldate
		    , selstartdate, selenddate, selstatus, CB.categoryName, CB.categoryNo, CD.categoryDetailName
		FROM product P, categoryDetail CD, categoryBase CB
		WHERE 1=1
		    AND P.categoryMapNo = CD.categoryMapNo
		    AND CD.categoryNo = CB.categoryNo
		    AND P.productNo = #{productNo}
	</select>
	<update id="updateSelStartDate" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET selStartDate =#{ selStartDate } WHERE productNo = #{ productNo }
	</update>
	<update id="updateSelEndDate" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET selEndDate =#{ selEndDate } WHERE productNo = #{ productNo }
	</update>
	<update id="updateProduct" parameterType="com.KHCafeErp.www.dto.Product">
		UPDATE product SET productName = #{ productName },
				categoryMapNo = #{ categoryMapNo },
				originPrice = #{ originPrice },
				price = #{ price },
				enrollDate = #{ enrollDate },
				selStartDate = #{ selStartDate },
				selEndDate = #{ selEndDate },
				selStatus = #{ selStatus },
				productContent = #{ productContent },
				productOrigin = #{ productOrigin }
		WHERE productNo = #{ productNo }
	</update>
	<select id="selectSearchList" parameterType="com.KHCafeErp.www.dto.Product" resultType="com.KHCafeErp.www.dto.Product">
		SELECT p.productNo, p.categoryMapNo, p.shopNo, s.shopName, productName, originPrice, price, productOrigin
				, selStartDate, enrollDate, selEndDate, selStatus, cb.categoryName, cb.categoryNo
		FROM product P, categoryDetail CD, categoryBase CB, shop S
		WHERE 1=1
			AND p.categoryMapNo = CD.categoryMapNo
			AND CD.categoryno = cb.categoryNo
			AND p.shopNo = s.shopNo
			<if test="productNo != null">
				AND p.productNo = #{ productNo }
			</if>
			<if test="productName != ''">
				AND productName LIKE '%'||#{ productName }||'%'
			</if>
			<if test="categoryMapNo != 0">
				AND p.categoryMapNo = #{ categoryMapNo }
			</if>
			<if test="shopNo != 0">
				AND p.shopNo = #{ shopNo }
			</if>
	</select>
	<delete id="deleteProduct" parameterType="com.KHCafeErp.www.dto.Product">
		DELETE FROM product WHERE productNo = #{ productNo }
	</delete>
</mapper>