<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.NoticeDao">

	<select id="selectCntAll" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM noticeboard
		WHERE 1=1
		<if test="searchType != null">
			AND noticeBoard.${searchType} LIKE '%'||#{searchContent}||'%'
		</if>
	</select>
	
	<select id="selectPageList" parameterType="com.KHCafeErp.www.util.Paging" resultType="com.KHCafeErp.www.dto.NoticeBoard" >
		  SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					nBoardNo, staffNo, noticeBoard.shopNo, shopName,
					nBoardTitle, staffName, nBoardDate, nBoardContent
				FROM noticeBoard, shop
				WHERE noticeBoard.shopNo=shop.shopNo
				<if test="search.searchType != null">
    				AND noticeBoard.${search.searchType} LIKE '%'||#{search.searchContent}||'%'
  				</if>
				ORDER BY nBoardNo DESC
			) B
			ORDER BY rnum
		 ) noticeBoard
		 WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<insert id="insert" parameterType="com.KHCafeErp.www.dto.NoticeBoard">
		INSERT INTO noticeBoard (nBoardNo, staffNo, shopNo, nBoardTitle, staffName, nBoardDate, nBoardContent)
		VALUES (noticeBoard_seq.nextval, #{staffNo }, #{shopNo },#{nBoardTitle }, #{staffName }, #{nBoardDate }, #{nBoardContent })
	</insert>
	
	<select id="selectStaffName" resultType="String" parameterType="com.KHCafeErp.www.dto.NoticeBoard">
		SELECT staffName FROM staff
		WHERE staffNo = #{staffNo }
	</select>
	
	<select id="selectShopNo" resultType="int" parameterType="int">
		SELECT shopNo FROM staff
		WHERE staffNo = #{staffNo }
	</select>
	
	<select id="selectBoardByBoardNo" parameterType="com.KHCafeErp.www.dto.NoticeBoard" resultType="com.KHCafeErp.www.dto.NoticeBoard">
		SELECT * FROM noticeboard
  		WHERE 1=1
  		AND nBoardNo = #{nBoardNo }
	</select>
	
	<update id="update" parameterType="com.KHCafeErp.www.dto.NoticeBoard">
		UPDATE noticeboard
			SET nBoardContent = #{nBoardContent }
			WHERE nBoardNo = #{nBoardNo }	
	</update>
	
	<update id="delete" parameterType="com.KHCafeErp.www.dto.NoticeBoard">
		DELETE noticeboard
		WHERE nBoardNo = #{nBoardNo }
	</update>	
</mapper>