<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.PlacingOrderDao">

	<select id="selectPlacingOrderListCnt" resultType="int">
		SELECT COUNT(1) FROM PLACINGORDER
	</select>
 
 	<select id="selectPlacingOrderList" parameterType="com.KHCafeErp.www.dto.PlacingOrder" resultType="com.KHCafeErp.www.dto.PlacingOrder">
		SELECT PLACINGORDERNO, SHOPNO, PLACINGORDERDATE, PLACINGORDERSTATUS, INSTOCKSTATUS
		FROM PLACINGORDER
		WHERE 1=1
		AND PLACINGORDERDATE BETWEEN #{startDate} AND #{endDate}
		<if test="placingOrderNo != null">
    		AND placingOrderNo = #{placingOrderNo}
  		</if>
  		<if test="shopNo != null">
    		AND shopNo = #{shopNo}
  		</if>
	</select>
	
	<select id="selectShopList" resultType="com.KHCafeErp.www.dto.Shop">
		SELECT SHOPNO, SHOPNAME FROM SHOP
	</select>
	
	<select id="selectPlacingOrderListAll" resultType="com.KHCafeErp.www.dto.PlacingOrder">
		SELECT * FROM(
			SELECT placingOrder.placingOrderNo, shop.shopName, placingOrderDate, placingOrderStatus, inStockStatus 
			FROM placingOrder, shop 
			WHERE placingOrder.shopNo=shop.shopNo ORDER BY placingOrder.placingOrderNo) A, (
			SELECT placingOrderNo ,SUM(placingOrderProductCnt) AS placingOrderCnt 
			FROM placingOrderProduct 
			GROUP BY placingOrderNo ORDER BY placingOrderNo)B, (
			SELECT P.placingOrderNo, SUM(ingredientPrice) AS placingOrderPrice
			FROM placingOrderProduct P, ingredient I 
			WHERE P.ingredientNo=I.ingredientNo  
			GROUP BY placingOrderNo)C
		WHERE A.placingOrderNo=B.placingOrderNo AND A.placingOrderNo=c.placingorderno
	</select>
	
	<insert id="placingOrderInsert" parameterType="com.KHCafeErp.www.dto.PlacingOrder">
		INSERT INTO placingOrder (placingOrderNo, shopNo, placingOrderStatus, inStockStatus, placingOrderDate)
		VALUES (#{placingOrderNo }, #{shopNo }, 0, 0, TO_CHAR(SYSDATE, 'YYYY-MM-DD'))
	</insert>
	
	<insert id="placingOrderProductInsert" parameterType="com.KHCafeErp.www.dto.PlacingOrderProduct">
		INSERT INTO placingOrderProduct (placingOrderProductNo, placingOrderNo, IngredientNo, placingOrderProductStatus, placingOrderProductCnt )
		VALUES (PLACINGORDERPRODUCTNO_SEQ, placingOrderNo_seq, #{IngredientNo}, 0, #{placingOrderProductCnt })
	</insert>
	
	<select id="selectIngredientList" resultType="com.KHCafeErp.www.dto.Ingredient">
		SELECT ingredientNo, ingredientName, ingredientPrice, origin, maker  FROM Ingredient
	</select>
	
	<select id="selectIngredientInfo" resultType="com.KHCafeErp.www.dto.Ingredient" parameterType="int">
		SELECT ingredientNo, ingredientName, ingredientPrice, origin, maker  FROM Ingredient WHERE ingredientNo=#{ingredientNo}
	</select>
	
	<select id="selectNextVal" resultType="int">
		SELECT placingOrderNo_seq.nextval FROM dual
	</select>
	
	<select id="getShopNo" parameterType="String" resultType="int">
		SELECT shopNo FROM shop WHERE shopName=#{shopName}
	</select>
	
	<insert id="insertPlacingOrder" parameterType="com.KHCafeErp.www.dto.PlacingOrder">
		INSERT INTO placingOrder (placingOrderNo, shopNo, placingOrderStatus, inStockStatus, placingOrderDate)
		SELECT placingOrderNo_seq.nextval, #{shopNo}, #{placingOrderStatus}, #{inStockStatus}, #{placingOrderDate}
		FROM DUAL A
		WHERE NOT EXISTS (SELECT 0 FROM placingOrder WHERE shopNo=#{shopNo} AND placingOrderDate=#{placingOrderDate})
	</insert>
	
	<select id="selectPlacingOrderNo" parameterType="com.KHCafeErp.www.dto.PlacingOrder" resultType="int">
		SELECT placingOrderNo FROM placingOrder WHERE shopNo=#{shopNo} AND placingOrderDate=#{placingOrderDate}
	</select>
	
	<insert id="insertPlacingOrderProduct" parameterType="com.KHCafeErp.www.dto.PlacingOrderProduct">
		INSERT INTO placingOrderProduct(placingOrderProductNo, placingOrderNo, ingredientNo, placingOrderProductStatus, placingOrderProductCnt) VALUES (placingOrderProductNo_seq.nextval, #{placingOrderNo}, #{ingredientNo}, #{placingOrderProductStatus}, #{placingOrderProductCnt})
	</insert>
</mapper>


