<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.ReleaseProductDao">
	<select id="selectReleaseList" parameterType="com.KHCafeErp.www.dto.Release" resultType="com.KHCafeErp.www.dto.Release">
		SELECT releaseNo, placingOrder.placingOrderNo, shopName, releaseStatus, releaseDate, placingOrderStatus 
		FROM release, placingOrder, shop 
		WHERE placingOrder.placingOrderNo=release.placingOrderNo AND placingOrder.shopNo=shop.shopNo
		<if test="(startDate != null and endDate != null) and (startDate!='' and endDate!='') ">
			 AND releaseDate BETWEEN #{startDate} AND #{endDate}
		</if>
<!-- 		<if test="releaseNo != null and releaseNo!=0"> -->
		<if test="releaseNo != null">
    		AND releaseNo = #{releaseNo}
  		</if>
<!-- 		<if test="placingOrderNo != null and placingOrderNo!=0"> -->
		<if test="placingOrderNo != null">
    		AND placingOrder.placingOrderNo = #{placingOrderNo}
  		</if>
  		<if test="shopNo != null">
    		AND shop.shopNo = #{shopNo}
  		</if>
  		<if test="releaseStatus != null">
<!--   		<if test="releaseStatus != null and releaseStatus!=0"> -->
    		AND releaseStatus = #{releaseStatus}
  		</if>
		ORDER BY releaseNo
	</select>

	<insert id="insertRelease" parameterType="com.KHCafeErp.www.dto.Release">
		INSERT INTO release (releaseNo, placingOrderNo, releaseStatus, releaseDate)
		SELECT release_seq.nextval, #{placingOrderNo}, #{releaseStatus}, #{releaseDate}
		FROM DUAL A
		WHERE NOT EXISTS (SELECT 0 FROM release WHERE placingOrderNo=#{placingOrderNo})
	</insert>
	
	<select id="selectReleaseListCnt" resultType="int">
		SELECT COUNT(*) FROM release
	</select>
	
	<insert id="insertReleaseProduct" parameterType="com.KHCafeErp.www.dto.ReleaseProduct">
		INSERT INTO releaseProduct (releaseProductNo, releaseNo, releaseProductName, productCnt, productStatus) VALUES (releaseProduct_seq.nextval, #{releaseNo}, #{releaseProductName}, #{productCnt}, #{productStatus})
	</insert>
	
	<select id="selectOrderNo" parameterType="com.KHCafeErp.www.dto.Release" resultType="int">
		SELECT releaseNo FROM release WHERE placingOrderNo=#{placingOrderNo}
	</select>
	
	<select id="getList" resultType="com.KHCafeErp.www.dto.Release">
		SELECT releaseNo, placingOrder.placingOrderNo, shopName, releaseStatus, releaseDate FROM release, placingOrder, shop WHERE placingOrder.placingOrderNo=release.placingOrderNo AND placingOrder.shopNo=shop.shopNo ORDER BY releaseNo
	</select>
	
	<select id="selectShopList" resultType="com.KHCafeErp.www.dto.Shop">
		SELECT SHOPNO, SHOPNAME FROM SHOP
	</select>
	
	<select id="selectPlacingOrderNo" resultType="int">
		SELECT placingOrderNo FROM placingOrder WHERE placingOrderStatus=2 ORDER BY placingOrderNo
	</select>
	
	<insert id="insertNewRelease" parameterType="int">
		INSERT INTO release (releaseNo, placingOrderNo)
		SELECT release_seq.nextval, #{placingOrderNo}
		FROM DUAL A
		WHERE NOT EXISTS (SELECT 0 FROM release WHERE placingOrderNo=#{placingOrderNo})
	</insert>
	
	<select id="selectReleaseNo" parameterType="int" resultType="int">
		SELECT releaseNo FROM release WHERE placingOrderNo=#{placingOrderNo}
	</select>
	
	<insert id="insertNewReleaseProduct" parameterType="com.KHCafeErp.www.dto.Ingredient">
		INSERT INTO releaseProduct (releaseProductNo, releaseNo, releaseProductName, productCnt, productPrice)
		SELECT releaseProduct_seq.nextval, #{releaseNo}, #{ingredientName}, #{placingOrderProductCnt}, #{ingredientPrice}
		FROM DUAL A
		WHERE NOT EXISTS (SELECT 0 FROM releaseProduct WHERE releaseNo=#{releaseNo} AND releaseProductName=#{ingredientName} )
	</insert>

	<select id="selectReleaseProductList" parameterType="int" resultType="com.KHCafeErp.www.dto.Ingredient">
		SELECT placingOrderProduct.ingredientNo, ingredientName, ingredientPrice, placingOrderProductCnt FROM placingOrderProduct, ingredient WHERE placingOrderProduct.ingredientNo=ingredient.ingredientNo AND placingOrderNo=#{placingOrderNo}
	</select>

	<select id="selectReleseInfo" parameterType="com.KHCafeErp.www.dto.PlacingOrder" resultType="com.KHCafeErp.www.dto.PlacingOrder">
		SELECT release.placingOrderNo, placingOrderDate, shopName, placingOrderStatus, inStockStatus FROM placingOrder, shop, release 
		WHERE placingOrder.shopNo=shop.shopNo AND placingOrder.placingOrderNo=release.placingOrderNo AND releaseNo=#{releaseNo}
	</select>

	<select id="selectReleaseProduct" parameterType="com.KHCafeErp.www.dto.Release" resultType="com.KHCafeErp.www.dto.ReleaseProduct">
		SELECT releaseProductNo, releaseNo, releaseProductName, productCnt, productStatus, productPrice
		FROM releaseProduct
		WHERE releaseNo=#{releaseNo} AND productStatus != 2
	</select>
	
	<update id="updateRelease" parameterType="com.KHCafeErp.www.dto.ReleaseProduct">
		UPDATE releaseProduct SET productCnt = productCnt-#{productCnt}, productStatus=#{productStatus}, productRemark=#{productRemark} WHERE releaseProductno=#{releaseProductNo}
	</update>
	
	<select id="getReleaseTotalCnt" parameterType="int" resultType="String">
		SELECT releaseTotalCnt FROM release WHERE releaseNo=#{releaseNo}
	</select>
	
	<update id="updateReleaseTotalCnt" parameterType="int">
		UPDATE release SET releaseTotalCnt=(SELECT SUM(productCnt) FROM releaseProduct WHERE releaseNo=#{releaseNo}) WHERE releaseNo=#{releaseNo}
	</update>
	
	<select id="getAfterReleaseCnt" parameterType="int" resultType="String">
		SELECT SUM(productCnt) FROM releaseProduct WHERE releaseNo=#{releaseNo}
	</select>
	
	<update id="updateReleaseStatus1" parameterType="int">
		UPDATE release SET releaseStatus = 1, releaseDate=TO_CHAR(sysdate,'yyyy-mm-dd') WHERE releaseNo=#{releaseNo}
	</update>

	<update id="updateReleaseStatus2" parameterType="int">
		UPDATE release SET releaseStatus = 2 WHERE releaseNo=#{releaseNo}
	</update>
	
	<update id="updatePlacingOrderStatus" parameterType="int">
		UPDATE placingOrder SET placingOrderStatus=3 WHERE placingOrderNo=#{placingOrderNo}
	</update>
</mapper>
