<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.KHCafeErp.www.dao.face.StatisticsDao">

	<select id="selectStatistics" parameterType="int" resultType="hashmap">
		select o.shopNo, p.paymentDate, sum(p.paymentPrice) sumPrice
		from orderBase o, payment p
		where 1=1
		AND o.orderNo = p.orderNo
		AND o.orderStatus = 2
		AND o.shopNo = #{shopNo}
		group by o.shopNo, paymentDate
		order by paymentDate
	</select>
	
	<select id="selectStatisticsCondition" parameterType="hashmap" resultType="hashmap">
		select o.shopNo, p.paymentDate, sum(p.paymentPrice) sumPrice
		from orderBase o, payment p
		where 1=1
		AND o.orderNo = p.orderNo
		AND o.orderStatus = 2
		<choose>
			<when test="shopNoArr.length != 0">
				and o.shopNo in 
				<foreach collection="shopNoArr" item="item" index="index" separator="," open="(" close=")">
					#{item}
				</foreach>
			</when>
		</choose>
		group by o.shopNo, paymentDate
		order by paymentDate
	</select>
	
</mapper>