<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KHCafeErp.www.dao.face.WarehousingDao">

<insert id="insert" parameterType="com.KHCafeErp.www.dto.Warehousing">
INSERT INTO InStockProduct (inStockNo, placingOrderProductNo, inStockDate, productCnt) 
VALUES (inStockProductNo_seq, #{placingOrderProductNo },#{inStockDate }, #{productCnt } )

<!-- INSERT INTO placingOrder (shopNo)  -->
<!-- VALUES (#{shopNo } ) -->

<!-- INSERT INTO ingredient (ingredientName, ingredientPrice)  -->
<!-- VALUES (#{ingredientName }, #{ingredientPrice } ) -->
</insert>
	<select id="selectWarehousingList" parameterType="com.KHCafeErp.www.dto.Warehousing">
		SELECT warehousingNO, placingOrderProductNo, storageNo, productCnt, inStockDate,isAutoInStock,inStockStatus,dealStore
		FROM warehousing
		WHERE 1=1
		<if test="warehousingNO != null">
    		AND warehousingNO = #{warehousingNO}
  		</if>
  		<if test="dealStore != null">
    		AND dealStore = #{dealStore}
  		</if>
	
	
	</select>
	
	<select id="selectDealList" resultType="com.KHCafeErp.www.dto.Warehousing">
		SELECT dealStore FROM warehousing
	</select>
</mapper>